<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

    <!--USING CARD TO DISPLAY-->
    <!--using ngfor to loop through the api-->
    <ion-card *ngFor="let movie of myMovies">
      <img alt="movie Poster" src= {{movie.Poster}}/> <!--displays movie poster-->
      <ion-card-header>
        <ion-card-title>{{movie.Title}}</ion-card-title><!--displays movie title-->
        <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle> <!--displays movie year-->
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
    
</ion-content>
